{% extends "base.html" %}
{% block content %}
<html>
<head>
</head>
<body>

	<center>
<div class="TABLE"><table style="width:100%">
  <style>
table, th, td {
  border: 1px solid black;
}
</style>
    <table bgcolor="grey">
  <caption>Handicap List</caption>
  <tr>
    <th>Name</th>
    <th>Handicap</th>
  </tr>
  <tr>
    <td>Joe Ciampa</td>
    <td>5.5</td>
  </tr>
  <tr>
    <td>Ringo Theara</td>
    <td>10.9</td>
  </tr>
  <tr>
    <td>Gamma Basra</td>
    <td>17.8</td>
  </tr>
  <tr>
    <td>David Park</td>
    <td>9.1</td>
  </tr>
  <tr>
    <td>Julian Pennie</td>
    <td>11.3</td>
  </tr>
  <tr>
    <td>Kamal Dhunna</td>
    <td>12.3</td>
  </tr>
  <tr>
    <td>Peter Ramsden</td>
    <td>18.3</td>
  </tr>
  <tr>
    <td>Ian Hamilton</td>
    <td>15.7</td>
  </tr>
  <tr>
    <td>David Andrews</td>
    <td>6.7</td>
  </tr>
  <tr>
    <td>Richard Moore</td>
    <td>13.3</td>
  </tr>
  <tr>
    <td>Kobus Sheepers</td>
    <td>18.4</td>
  </tr>
  <tr>
    <td>Andy Carter</td>
    <td>6.8</td>
  </tr>
  <tr>
    <td>Ed Barham</td>
    <td>25.4</td>
  </tr>
  <tr>
    <td>Richard Pawlowski</td>
    <td>16.1</td>
  </tr>
  <tr>
    <td>Hayden Perkes</td>
    <td>14.7</td>
  </tr>
  <tr>
    <td>Mark Hickman</td>
    <td>11.9</td>
  </tr>
  <tr>
    <td>Jamie Dixon</td>
    <td>13</td>
  </tr>
  <tr>
    <td>Darren Castle</td>
    <td>7.6</td>
  </tr>
  <tr>
    <td>Craig Palmer</td>
    <td>5.7</td>
  </tr>
  <tr>
    <td>Paul Bentley</td>
    <td>10.6</td>
  </tr>
  <tr>
    <td>Mick Rose</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Josh Eaton</td>
    <td>18.5</td>
  </tr>
  <tr>
    <td>Martin Gallagher</td>
    <td>12.4</td>
  </tr>
  <tr>
    <td>James Gray</td>
    <td>16.9</td>
  </tr>
  <tr>
    <td>David Quinlan</td>
    <td>11.3</td>
  </tr></center>